<ion-header>
  <ion-toolbar color="success">
    <ion-title>Panel Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Bienvenido, {{ nombre }}</h1>

  <!-- Card de Rutinas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Panel Cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" class="boton-rojo" (click)="irMisRutinas()">
        <ion-icon name="barbell-outline" slot="start"></ion-icon>
        Mis Rutinas Semanales
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Foro de Opiniones -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué opinas de nuestro servicio?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>¡Queremos conocer tu experiencia en nuestro box de CrossFit! Deja tu comentario o sugerencia para ayudarnos a mejorar.</p>

      <ion-button expand="full" class="boton-rojo" (click)="mostrarComentario = !mostrarComentario">
        <ion-icon [name]="mostrarComentario ? 'eye-off-outline' : 'chatbox-ellipses-outline'" slot="start"></ion-icon>
        {{ mostrarComentario ? 'Ocultar Foro' : 'Foro de Opiniones' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Comentario -->
  <ion-card *ngIf="mostrarComentario">
    <ion-card-header>
      <ion-card-title>Deja tu comentario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea
        [(ngModel)]="comentario"
        placeholder="Escribe tu comentario aquí...">
      </ion-textarea>

      <ion-label>Puntúa el box:</ion-label>
      <ion-row>
        <ion-icon
          *ngFor="let star of [1, 2, 3, 4, 5]"
          name="star"
          [class.star-activa]="puntuacion >= star"
          class="estrella"
          (click)="puntuacion = star">
        </ion-icon>
      </ion-row>
      

      <ion-button expand="full" class="boton-rojo" (click)="enviarComentario()">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        Enviar Comentario
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
